---
title: Home
---

<section class="introduction" id="introduction">
	<article class="container">
		<%= tag :img, :src => "images/layers.svg" %>
		<h2 class="title">Aprenda a criar uma aplicação completa usando somente Javascript</h2>
		<p>
			O workshop ensinará como criar sistemas inteiros apenas com <strong>Javascript</strong>, para isso utilizando no frontend o <a href="http://www.angularjs.org" target="_blank">AngularJS</a> que é um framework de Javascript mantido pelo Google, no back-end o tão falado <a href="http://www.nodejs.org" target="_blank">Node.js</a> que executa o Javascript no backend usando a <strong>engine V8 do Google</strong> e usando um banco de dados NoSQL com interface em Javascript, o igualmente famoso <a href="http://www.mongodb.org/" target="_blank">MongoDB</a>. Além da teoria básica sobre os conceitos abordados, <strong>o workshop é puramente mão na massa</strong>, a didática é baseada em demonstrações de código com a explicação teórica em cima do código, criando um workflow para a criação de um sistema integrado entre todas as partes. O aluno terminará o workshop entendendo como cada parte se integra para criar uma aplicação REST
		</p>
	</article>
</section>
<section class="requests" id="requests">
	<article class="container">
		<%= tag :img, :class => "icon", :src => "images/icon-request.png" %>
		<h2 class="title">Requisitos</h2>
		<ul class="requests-list">
			<li class="requests-item">Ler</li>
			<li class="requests-item">Pensar</li>
			<li class="requests-item">Escrever</li>
			<li class="requests-item">Javascript básico</li>
      <li class="requests-item">Conhecimento sobre seu Sistema Operacional</li>
		</ul>
	</article>
</section>
<section class="instructor" id="instructor">
	<article class="container">
		<%= tag :img, :src => "images/suissa.jpg", :class => 'img-rounded img-thumbnail' %>
		<h2 class="title">Instrutor: Jean Carlo "Suissa"</h2>
		<p>
			Jean Carlo Nascimento é Evangelista de novas tecnologias como NoSQL e Node.js as quais estão em voga atualmente por serem usadas em sistemas altamente escaláveis prontos para servir milhões de usuários; também palestra sobre Javascript, Frontend, PHP, Node.js e MongoDB. Organizador dos eventos <strong>FrontinSampa e Sampa.js</strong>. Atualmente esta iniciando sua empresa voltada em produtos, cursos, treinamentos e consultorias voltados ao desenvolvimento de sistemas flexíveis e escaláveis com Node.js e NoSQL.
		</p>
	</article>
</section>
<section class="agenda" id="agenda">
	<article class="container">
		<%= tag :img, :src => "images/checklist.svg" %>
		<h2 class="title">Como o curso é realizado?</h2>
		<p>
			Iniciaremos conhecendo o <strong>MongoDb</strong> e como utilizá-lo de diversas formas através do Javascript em seu console, após essa base de banco de dados não relacional conheceremos o <strong>Node.js</strong>, o qual foi o maior divisor de água no mundo do Javascript, após conseguirmos criar um CRUD utilizando Node.js e MongoDb (Mongoose), com rotas em Express avançaremos para o Frontend onde tudo muda e teremos que nos ambientar ao conceito de Single Page Application. Com isso faremos com que o AngularJs requisite os dados de nosso webserver via REST e monte a view corretamente, fazendo um integração completa usando apenas Javascript.
		</p>
		<div class="agenda-item">
			<h3>
			AngularJS
			<%= tag :img, :src => 'images/logos/angularjs.png', :class => 'angularjs' %>
			</h3>
			<ul class="angularjs">
				<li>Teoria</li>
				<li>Templates</li>
				<li>Data Bindings</li>
				<li>Injeção de Depedências</li>
				<li>Rotas</li>
				<li>Ajax</li>
				<li>Serviços</li>
				<li>Filtros</li>
				<li>Directivas</li>
			</ul>
		</div>
		<div class="agenda-item">
			<h3>
			NodeJS
			<%= tag :img, :src => 'images/logos/nodejs.png', :class => 'nodejs' %>
			</h3>
			<ul class="nodejs">
				<li>Teoria</li>
				<li>NPM</li>
				<li>Módulos</li>
				<li>Criação de servidores</li>
				<li>I/O Assíncrono</li>
				<li>Express</li>
				<li>Mongoose</li>
			</ul>
		</div>
		<div class="agenda-item">
			<h3>
			MongoDB
			<%= tag :img, :src => 'images/logos/mongodb.png', :class => 'mongodb' %>
			</h3>
			<ul class="mongodb">
				<li>Teoria</li>
				<li>Terminologia</li>
				<li>CRUD</li>
				<li>Operadores</li>
				<li>Outras funcionalidades</li>
				<li>Relacionamentos</li>
				<li>Sharding</li>
				<li>Gridfs</li>
			</ul>
		</div>
	</article>
</section>
<section class="subscriptions" id="subscriptions">
	<article class="container">
		<h2 class="title">Cadastro</h2>
		<p>
			Se você ficou interessado em adquirir os vídeos do Workshop BeMEAN pode comprar diretamente abaixo.
		</p>
   <!--  <iframe src="https://docs.google.com/forms/d/11YLjui1NXAhF7-BP6_b8XoOINFc7jJRagKd0sVJuLjY/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
		<iframe src="http://www.eventick.com.br/workshop-be-mean-videos/embedded" frameborder="0" height="280px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
	</article>
</section>
<section class="desconto" id="desconto">
	<article class="container">
		<img src="images/icon-money.png" class="icon" alt="Icon Money">
		<h2 class="title">Desconto</h2>
		<p>
			O valor sem desconto é R$300, caso você queira pagar a vista ganhará um desconto de R$50, basta enviar um email para <strong>desconto.bemean at gmail</strong>, com o assunto <strong>Workshop Be MEAN VIDEOS - Desconto</strong>.
		</p>
	</article>
</section>
<section class="faq" id="faq">
	<article class="container">
	  <h2 class="title">Perguntas Comuns</h2>
		  <dl class="faqs">
        <dt>Vou ter acesso ao curso gravado?</dt>
        <dd>
          Sim, porém não será a gravação do curso, será a gravação em formato screencast com o mesmo conteúdo porém compactado, já que não há interação com a turma.
        </dd>

        <dt>Até quanto tempo terei acesso aos vídeos?</dt>
        <dd>
        	Poderá ter acesso até 47 anos após a liberação dos mesmos.
        </dd>

        <dt>Como posso conseguir o desconto?</dt>
        <dd>
        	<a href="#desconto">Veja na seção acima.</a>
        </dd>
      </dl>   
	</article>
</section>
<section class="realization" id="realization">
	<article class="container">
		<h2 class="title">Realização</h2>
    <%= tag :img, :src => 'images/webschool.png' %>
		<%= tag :img, :src => 'images/suissacorp.png' %>
	</article>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43068124-1', 'bemean.com.br');
  ga('send', 'pageview');

/* var bcf_settings = { buttonText:'Contato', buttonTop:'30%', language:'pt_PT' }; // Better Contact Form Settings */
(function (d, s, id) {
    if ('https:' == document.location.protocol || d.getElementById(id)) return;
    var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.id = id;
    js.src = "http://bettercontactform.com/contact/form/render?f=4bcf7bdfecfe3ddb057914d33b2bd709ece0b40e";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "bcf-render"));

document.onkeydown = checkKey;
var konamiCode = new Array (38, 38, 40, 40, 37, 39, 37, 39, 66, 65);
var currentCode = new Array();
 
//Konami Code Check
function checkKey(e) {
    e = e || window.event;

    currentCode.push(e.keyCode);
    i = currentCode.length - 1;

    if (currentCode[i] == konamiCode[i]) {
        if (konamiCode.length == currentCode.length) {
            konamiAction();
            currentCode = new Array();
        }
    } else {
        currentCode = new Array();
    }
}

function konamiAction() {
    alert('Konami');
    var iframe = document.getElementsByTagName('iframe');
    iframe[0].src = 'http://www.youtube.com/embed/GeWNg2l23oI';
    // console.log();
}

</script>